<!doctype html>
<html>
<head>
    <title>Working Group Two - MQTT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Working Group Two - MQTT demo</h1>
        <p></p>
        <a href="/login" class="btn btn-danger"><span class="fa fa-lock"></span> Please log in</a>
    </div>
</div>
</body>
</html>
