<!doctype html>
<html>
<head>
    <title>Working Group Two - MQTT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1>Success!</h1>
        <p>
            <strong>Username:</strong> {{.username}} <br/>
            <strong>Password:</strong> {{.password}} <br/>
        </p>
        <h2>mosquitto</h2>
        <p>
        <pre>mosquitto_sub -u {{.username}} -P {{.password}} -t {{.username}}/#</pre>
        </p>
    </div>
</div>
</body>
</html>
